<h3>{{ 'email.confirmation.header'|trans({}, 'UserBundle') }}</h3>

{{ 'email.confirmation.greeting'|trans({'%username%': user.username}, 'UserBundle') }}

{{ 'email.confirmation.confirm_url'|trans({'%url%': url('user_confirm', {'token': user.confirmationToken})}, 'UserBundle') | raw }}

{{ 'email.confirmation.signature'|trans({}, 'UserBundle') }}
